<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>


  <!-- content -->
  <div class="container-fluid btn-light p-5">
	  <h1 class="display-4">About Me <img src="Assets\images\pp.png" class="img-fluid img-thumbnail rounded float-end" ></h1>
	  <p class="lead">Full-time student | Experienced as a Software Engineer | Loves programming</p>
	  <hr class="my-4">
	  <p>I was born and raised in Kerala, a beautiful state in India. I did my undergraduate studies in Computer Science and Engineering, and then worked as a Software Engineer there before moving to Canada to pursue my higher studies. After gaining relevent experience, I decided to explore more areas in Computer Science.
          I love how we can bring intelligence into machines and always dream about building intelligent agents. This passion motivated me to join the Artificial Intelligence program at Centennial College.
      </p>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="Assets\images\centennial.jpg" class="card-img-top" alt="centennial">
            <div class="card-body">
              <h5 class="card-title">Software Engineering Technology - Artificial Intelligence at Centennial College</h5>
              <p class="card-text">As a Full-time student at Centennial College, I am specializing in Artificial Intelligence.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Sept 2021 - April 2023</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="Assets\images\suntec.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Engineer at SunTec Business Solutions</h5>
              <p class="card-text">During my three year tenure as Software Engineer, I collaborated closely with product stakeholders in delivering enhancements for different projects. Refactored code using best practices, and tackled bugs while performing the root cause analysis.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">July 2018 - Aug 2021</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="Assets\images\rajagiri.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Computer Science and Engineering graduate from RSET</h5>
              <p class="card-text">Bachelor's Degree in Computer Science from Rajagiri School of Engineering and Technology, Kakkanad, affiliated to the Mahatma Gandhi University, Kottayam, Kerala and approved by the All India Council for Technical Education, New Delhi.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Aug 2014 - May 2018</small>
            </div>
          </div>
        </div>
      </div>

      
	</div>
   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

