<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>

  <!-- content -->
  <div class="container-fluid btn-light p-5">
	 

      <div class="card bg-dark text-white text-bg-dark">
        <img src="Assets\images\contact-me.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h1 class="display-4">Contact</h1>
          <h5 class="card-title">Thank you for going through my portfolio, and now, it's time to connect!</h5>
          <p class="card-text">I am open to opportunities where I can learn something interesting. I am open to discussing programs/codes, maybe about an answer that I have posted on Stack Overflow, or a cup of Tea (Coffee)?</p>
            
            <!-- Facebook -->
            <a href="https://www.facebook.com/voidstellar"><i class="fab fa-facebook-f" ></i></a>

            <!-- Twitter -->
            <a style="color: #55acee;" href="https://twitter.com/anaustinbeing" ><i class="fab fa-twitter"></i></a>

            <!-- Instagram -->
            <a style="color: #f535c5;" href="https://www.instagram.com/austin.joyal"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a style="color: #0082ca;" href="https://www.linkedin.com/in/austin-joyal"><i class="fab fa-linkedin-in"></i></a>

            <!-- Stack overflow -->
            <a style="color: #eeac1e;" href="https://stackoverflow.com/users/8472377/austin"><i class="fab fa-stack-overflow"></i></a>

            <!-- Github -->
            <a style="color: #ffffff;" href="https://www.github.com/anaustinbeing"><i class="fab fa-github"></i></a>

            <!-- Address box -->
            <br><br>
            <div class='container'>
                <div class="col-lg-3">
                  <fieldset class="rounded border border-3"" >
                    <legend class ='text-center'>Address</legend>
                      <p id="innerPara" >
                         95 Pine Ridge Dr, <br>
                         Guelph, ON N1L 1H7, <br>
                         Canada<br><br>
                         <i class="fas fa-phone-alt">&nbsp;+1 647-512-4238</i><br>
                         <i class="fas fa-envelope">&nbsp;anaustinbeing@gmail.com</i>
                      </p>
              </fieldset>
              </div>
        </div>
      </div>
      </div>
      <hr class="my-4">


	  <p>I would love to hear from you. Maybe you have a new job opportunity for me or just want to say "hi". Type in here and click Send.</p>

      <!-- Sample HTML Form -->
        <form >
            First Name:<br>
            <input type="text" size="19" name="Contact-Name"><br>
            Last Name:<br>
            <input type="text" size="19" name="Contact-Name"><br>
            Contact Number:<br>
            <input type="text" size="19" name="Contact-Phone"><br>
            Email:<br>
            <input type="email" name="Contact-Email"><br>
            Message:<br> 
            <textarea name="Contact-Message" placeholder="Type a message here" rows="8" cols="50"></textarea><br>
            <a class="btn btn-primary btn-lg" href="/home" role="button">Send</a>
        </form>
<!-- Simple HTML Form that “Triggers” an Email.-->
	  
	</div>
   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

