<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>

  <!-- content -->
  <div class="container-fluid btn-light p-5">
	  <h1 class="display-4">Austin Joyal</h1>
	  <p class="lead">welcomes you to his <kbd>portfolio</kbd> website.</p>
	  <hr class="my-4">
	  <p>Here, you will find details about me, my projects, services, and contact details. To start, press <kbd>Learn about me</kbd> button below to know more about me.</p>
	  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn about me</a>
	</div>
   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

