<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>

  <!-- main navbar ends-->

  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->


  <!-- content -->
  <div class="container-fluid btn-light p-5">
	  <h1 class="display-4">Austin Joyal</h1>
	  <p class="lead">welcomes you to his personal website.</p>
	  <hr class="my-4">
	  <p>Here, you will find details about me, my projects, services, and contact details. To start, press the below button to know more about me.</p>
	  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn about me?</a>
	</div>
   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

