<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>

<div class="container-fluid btn-light p-5">
    <h1 class="display-4">Projects</h1>
    <!-- <p class="lead">Full-time student | Experienced as a Software Engineer | Loves programming</p> -->
    <hr class="my-4">
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Stack Overflow Question Scraper</h5>
            <p class="card-text">Scrapes questions from Stack Overflow site based on query parameters: tag and sort filter.
                User can search for questions tagged with a specific technology (for example, Python). The scraper fetches questions tagged with the technology based on sort filter like newest, featured, frequent, votes, active, and unanswered). Additionally, user can specify number of SO pages to scrape.</p>
            <a href="https://github.com/anaustinbeing/stackoverflow-qn-scraper" class="btn btn-primary">View Project</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Controlled Object Recognition</h5>
            <p class="card-text">The project detects, tracks and recognises certain predefined objects. Input is a live video which is fed through a camera and output appears on a window with objects detected within rectangles and a label specifying names of objects.</p>
            <a href="https://github.com/anaustinbeing/object-recognition" class="btn btn-primary">View Project</a>
            </div>
        </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Website Scraper</h5>
            <p class="card-text">Scrapes any website and retrieves all hyperlinks from it.</p>
            <a href="https://github.com/anaustinbeing/website-scraper" class="btn btn-primary">View Project</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">URL Shortener with Django and GraphQL</h5>
            <p class="card-text">Shortens long url. Link shorteners work by transforming any long URL into a shorter, more readable link. When a user clicks the shortened version, they areautomatically forwarded to the destination URL.</p>
            <a href="https://github.com/anaustinbeing/url-shortener" class="btn btn-primary">View Project</a>
            </div>
        </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Stripe Checkout</h5>
            <p class="card-text">A django based one-time payment using stripe API.</p>
            <a href="https://github.com/anaustinbeing/stripe-checkout" class="btn btn-primary">View Project</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Regex Query Tool with Django</h5>
            <p class="card-text">This finds matches in a string based on a query Regex with options full match, first match and all matches.</p>
            <a href="https://github.com/anaustinbeing/regex-query-tool" class="btn btn-primary">View Project</a>
            </div>
        </div>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>