<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>

  <!-- content -->
  <div class="container-fluid btn-light p-5">
	  <h1 class="display-4">Services</h1>
      <p class="lead">I love programming and I love to provide programming assistance to other developers. </p>
      <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
	  <hr class="my-4">
	  
    <!-- Cards begin -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="Assets\images\software-engineering.gif" class="card-img-top" alt="centennial">
          <div class="card-body">
            <h5 class="card-title">Software Engineering</h5>
            <p class="card-text">I love to build softwares that people actually use. During my tenure as Software Engineer, I collaborated a lot with many stakeholders. I was the key person in the team in delivering enhancements. I would be more than happy to work with you to build softwares. Hit the <a href="/contact" ><kbd>Contact</kbd></a> button and send me a message!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="Assets\images\python.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Python Programming</h5>
            <p class="card-text">As you might have already guessed from my projects, Python is my favorite language. I am quite active in Stack Overflow where I answer Python problems. In my free time, I will sneak into the Stack Overflow site and help other developers with their problems with code. Here's my profile: <a href="https://stackoverflow.com/users/8472377/austin"><kbd>PROFILE</kbd></a>.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">July 2018 - Aug 2021</small>
          </div>
        </div>
      </div>
      <!-- Cards end -->
	</div>
   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

